<div class="main-container" *ngIf="loaded; else loading">


  <div class="back-button">
    <button mat-icon-button (click)="backButtonHandler()" appMyhover>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <section class="pokemon-details-card">
    <div class="title-row">
      <button mat-icon-button (click)="movePokemon(-1)" appMyhover>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>{{pokemon.name | uppercase}} </h1>
      <button mat-icon-button (click)="movePokemon(1)" appMyhover>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <div class="info-columns">


      <div class="column-left">
        <div class="pokemon-img">

          <mat-tab-group>
            <mat-tab label="Default">
              <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
            </mat-tab>
            <mat-tab label="Female" *ngIf="pokemon.sprites.front_female">
              <img src="{{pokemon.sprites.front_female}}" alt="{{pokemon.name}}">
            </mat-tab>
            <mat-tab label="Shinny">
              <img src="{{pokemon.sprites.front_shiny}}" alt="{{pokemon.name}}">
            </mat-tab>
          </mat-tab-group>
        </div>


      </div>

      <div class="column-right">


        <div>
          <ul>
            <li class="info-item">
              <span><b>Height</b></span>
              <span>{{pokemon.height}} m</span>
            </li>
            <li class="info-item">
              <span><b>Weight</b></span>
              <span>{{pokemon.weight}} kg</span>
            </li>

            <li class="info-item">
              <span><b>Types</b></span>
              <span>{{getTypesStr(pokemon.types)}}</span>
            </li>

            <li class="info-item">
              <span><b>Abilities</b></span>
              <span>{{getAbilitiesStr(pokemon.abilities)}}</span>

            </li>

          </ul>
        </div>


      </div>
    </div>
    <div class="stats">
      <app-stats-chart [stats]="pokemon.stats"></app-stats-chart>
    </div>
  </section>


</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
