.pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  padding: 50px;
  justify-items: center;
}

.offset-buttons {
  display: flex;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;


  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}
