<div  *ngIf="loaded; else loading">

  <div class="params-row">

    <div class="search-div">
      <app-search-bar (searchEmitter)="onSearch($event)"></app-search-bar>
    </div>


      <mat-form-field>
        <mat-label>Nº pokemons</mat-label>
        <mat-select  [(value)]="limit" (selectionChange)="loadPokemonList()">
          <mat-option *ngFor="let opt of limitOpions" [value]="opt">{{opt}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>


  <div class="pokemons-container" >
    <div *ngFor="let pokemon of filteredPokemons">
      <app-pokemon-simple-card [pokemon]="pokemon"> </app-pokemon-simple-card>
    </div>

  </div>


  <div class="offset-buttons">
    <button mat-button (click)="moveOffset(-1)" [disabled]="offset <= 0">Back</button>
    <button mat-button (click)="moveOffset(1)" [disabled]=" offset + limit >= totalCount">Next</button>
  </div>

</div>



<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
