
.params-row {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  align-items: center;

  .search-div {
    margin: 30px;
  }
}

@media (min-width: 1080px) {
  .params-row {
    flex-direction: row;
    justify-content: space-between;
    .search-div {
      margin: 60px 20px;
      width: 70%;
    }
  }
}


.pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 70px;
  padding: 10px 80px;
  justify-items: center;

}

.offset-buttons {
  display: flex;
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;


  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

}
